/** Variable Imports **/
@import './variables.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--fs-base);
  color: var(--clr-stone900);
  background-color: var(--clr-stone100);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* text-wrap: balance; */
}
#root,
#__next {
  isolation: isolate;
}

main {
  max-width: 768px;
  background-color: white;
}

section {
  margin-bottom: 2rem;
}

ul,
ol {
  padding-left: 1rem;
}

li {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.container {
  margin: 2rem;
}

.header {
  font-size: var(--font-header);
  font-family: var(--fs-accent);
  color: var(--clr-stone900);
  line-height: 1.2;
  margin-bottom: 2rem;
}

.sub-header {
  font-size: var(--font-sub-header);
  color: var(--clr-brown800);
  font-family: var(--fs-accent);
  font-weight: var(--fw-regular);
  margin-bottom: 1rem;
}

.tertiary-heading {
  color: var(--clr-rose800);
}

@media (min-width: 768px) {
  main {
    border-radius: 1rem;
    margin: 5rem auto;
  }
  .image-container {
    border-radius: 1rem;
    padding: 2rem;
  }
  .recipe-image {
    border-radius: inherit;
  }
}

.preparation-section {
  background-color: var(--clr-rose50);
  padding: 1rem;
  border-radius: 6px;
  margin-top: 2rem;
}

.preparation-list {
  margin-top: 0.5rem;
}

.preparation-list li::marker {
  color: var(--clr-rose800);
  font-weight: var(--fw-black);
}

.preparation-list li > span {
  color: var(--clr-stone900);
  font-weight: var(--fw-black);
}

.ingredient-section {
  border-bottom: 1px solid var(--clr-stone150);
  padding-bottom: 2rem;
}

.ingredient-list li::marker {
  color: var(--clr-brown800);
  font-weight: var(--fw-black);
}

.instruction-section {
  border-bottom: 1px solid var(--clr-stone150);
  padding-bottom: 2rem;
}

.instruction-list li {
  margin-bottom: 0.65rem;
}

.instruction-list li::marker {
  color: var(--clr-brown800);
  font-weight: bold;
}

.instruction-list li > span {
  color: var(--clr-stone900);
  font-weight: var(--fw-black);
}

.table {
  display: flex;
  flex-direction: column;
}

.table-row {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table-row:not(:last-child) {
  border-bottom: 1px solid var(--clr-stone150);
}

.row-title {
  width: 50%;
}

.row-value {
  width: 50%;
  color: var(--clr-brown800);
  font-weight: var(--fw-bold);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
